.hello-ionic-page {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

}
.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  height: 70px;
  cursor: pointer;
  margin: 0 auto;
  border: .5px solid rgb(38, 169, 245);
  -webkit-border-radius: 40px;
  border-radius: 35px;
  font: normal 37px/70px "Domine Font Family", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgb(38, 169, 245);
}